* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  touch-action: pan-x pan-y !important;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 10px;
  color: #000;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 3rem;
    padding: 3rem;

    .menu {
      background-color: #fff;
      text-align: center;
      width: 100%;
      padding: 4rem 1rem;
      border-radius: 20px;
      box-shadow: 0 0 35px 1px rgba($color: #000000, $alpha: 0.25);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          font-size: 2rem;
          margin-top: 1rem;
        }
      }

      img {
        width: 200px;
      }

      svg {
        width: 180px;
        color: #03bb86;
        border: 15px solid #4f008c;
        border-radius: 25px;
        padding: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
